extends ../slimLayout

block content
	script mixpanel.track("Login View");
	
	div.flash-message
		div.logo Sign in
	if errors.length
		.alert.alert-danger.animated.fadeIn
		for error in errors
			div= error.msg

	.col-sm-6.col-sm-offset-3
		form(method='POST' id="loginForm")
			.form-group
				.btn-group
					a.btn.btn-facebook(href='/auth/facebook')
						i.fa.fa-facebook
						| Facebook
					span(class="why-fb") Why facebook? We need to grab a picture from you for easy meetup.
			.form-group
				label.control-label(for='email') Email
				input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
			.form-group
				label.control-label(for='username') Password
				input.form-control(type='password', name='password', id='password', placeholder='Password')
			.form-group
				button.btn.btn-primary(type='submit')
					i.fa.fa-unlock-alt
					| Login
				&#160;&#124;&#160;
				a(href="/signup") Sign up
